@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Userlayout.cshtml";
}

@model EntityLayer.Dto.RegisterDto

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--/main-->
<section class="vh-100">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100" style="margin:40px;">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <form class="form"
                              id="registration-form"
                              data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace"
                              data-ajax-url="/Register/Index"
                              data-ajax-success="OnAjaxSuccess"
                              data-ajax-failure="OnAjaxError"
                              enctype="multipart/form-data">

                            <div class="form-outline mb-4">
                                <label for="validationCustom01">Name</label>
                                <input asp-for="WriterName" class="form-control" required />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="validationCustom02">Mail</label>
                                <input asp-for="WriterMail" class="form-control" required />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="exampleInputPassword1 mb-2">Password</label>
                                <input asp-for="WriterPassword" class="form-control" required type="password" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="exampleInputPassword1 mb-2">Confirm Password</label>
                                <input asp-for="WriterPasswordAgain" class="form-control" required type="password" />
                            </div> 

                            @* <div class="form-group">
                            <label class="form-label" for="WriterImage">File upload</label>
                            <input type="file" class="form-control" asp-for="WriterImage" />
                            </div> *@

                            <button type="submit" class="btn btn-primary submit mb-4" id="register-button">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    // post this on

    $(document).ready(function () {
        $("#registration-form").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    console.log(data);
                }
            });
        });
    });

</script>