@using EntityLayer.Concrete
@model List<Tag>

<table class="table table-bordered table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>Tag Name</th>
            <th>Tag Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CatergoryDescription</td>
            </tr>
        }
    </tbody>
</table>