@using DataAccessLayer.Abstract;
@using EntityLayer.Concrete;

@{
    AppUser LoginUser = new();
}

<div class="comment-top">
    <h4>Leave a Comment</h4>
    <div class="comment-bottom">
        <form action="/Comment/PartialAddComment/" method="post">

            @if (LoginUser.Id != 0)
            {
                <input class="form-control mb-3" readonly name="Commenter" value="@LoginUser.FullName" required>
                <input readonly name="WriterId" hidden value="@LoginUser.Id">
            }
            else
            {
                <input class="form-control  mb-3" name="Commenter" placeholder="Name" required>
            }

            <input hidden name="BlogId" value="@Model.Id">
            <input class="form-control mb-3" name="CommentTitle" placeholder="Title" required>
            <textarea class="form-control mb-3" rows="6" name="CommentContent" placeholder="Your message..." required></textarea>
            <button type="submit" class="btn btn-primary submit">Submit Comment</button>
        </form>
    </div>
</div>

<script>
    $("form").submit(function (e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('/comment/PartialAddComment/');
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function (data) {
                if (data.isSuccess) {
                    Swal.fire({
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                    })
                    setTimeout(function () {
                        location.reload();
                    }, 1500);
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'An error occurred while sending the comment',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            }
        });
    });
</script>
