@using DataAccessLayer.Abstract;
@using EntityLayer.Concrete;

@inject IUserDal tokenService;

@{
    var data = tokenService.GetLoggedUser();
    AppUser LoginUser;
    if (data != null && data.IsSuccess) LoginUser = data.Data;
    else { LoginUser = new AppUser(); }
}

<!--Header-->
<header>
    <div class="top-bar_sub_w3layouts container">
        <div class="row">
            @* <div class="col-md-4 logo text-left">
                <a class="navbar-brand" href="/">
                    <i class="fab fa-linode"></i> Core Blog
                </a>
            </div> *@
            <div> 
                @* put img *@
                <img src="~/Karunland Blog.png" class="img-fluid"/>
            </div>

        </div>
    </div>

    <div class="header_top" id="home">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="container collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/about/index">About</a>
                    </li>
                    @* 
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/index">Contact</a>
                    </li> 
                    *@
                </ul>

                <ul class="navbar-nav ml-auto">
                    @if (LoginUser.Id != 0)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login/logout">Sign Out</a>
                        </li>
                    }
                    @if (LoginUser.Id != 0)
                    {
                        @* <div>Welcome</div> *@
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Login")">
                                <i class="fas fa-lock"></i> Sign In
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Register")">
                                <i class="far fa-user"></i> Register
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</header>
<!--//header-->
@*  <form action="#" method="post" class="form-inline my-2 my-lg-0 header-search">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search here..." name="Search" required="">
                    <button class="btn btn1 my-2 my-sm-0" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form> *@